body {
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  border: 3px solid black;
  width: 150px;
  height: 150px;
  font-size: 20px;
}

a {
  font-size: 12px;
}

td > a {
  font-size: 10px;
}
