{% extends "layout.html" %}
{% block cross %}
    {% if winner == "X" or winner == "Tie" %}
    <img src="{{ url_for('static', filename='crown.png') }}" class="crown">
    {% endif %}
    <div class="left {% if turn == 'X' and winner == None %} turn {% endif%}">
        <a href="#" class="cross"></a>
    </div>
{% endblock %}

{% block body %}
    <table>
        {% for i in range(3) %}
        <tr>
            {% for j in range(3) %}
            <td>
                {% if game[i][j] %}
                <a href="#" class="{% if game[i][j] == 'X' %} cross {% else %} circle {% endif %} "></a>
                {% else %}
                {% if winner == None %}
                <a href="{{ url_for('play', row = i, col = j) }}">place here</a>
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}


{% block circle %}
    {% if winner == "O" or winner == "Tie" %}
    <img src="{{ url_for('static', filename='crown.png') }}" class="crown">
    {% endif %}
    <div class="right {% if turn == 'O' and winner == None %} turn {% endif %}">
        <a href="#" class="circle"></a>
    </div>


{% endblock %}
