{% extends "layout.html" %}
{% block body %}

<table>
  {% for i in range(3) %}
  <tr>
    {% for j in range(3) %}
    <td>
      {% if game[i][j] %}
        {{ game[i][j] }}
      {% else %}
        {% if winner == None %}
          <a href="{{ url_for('play', row = i, col = j) }}">Play {{ turn }} here</a>
        {% endif %}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% if winner != None %}
  <h3>Game Over!</h3>
  {% if winner == "Tie" %}
    <h3>It's a Tie!</h3>
  {% else %}
    <h3>{{ winner }} Win !</h3>
  {% endif %}
{% endif %}

{% endblock %}
