<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>


    <body>
        <header>
            <h1>Tic Tac Toe</h1>
        </header>
        <main class="container">
            <section class="item">
                {% block cross %}
                {% endblock %}
            </section>
            <section class="item board">
                {% block body %}
                {% endblock %}
                
                
            </section>
            <seciton class="item">
                {% block circle %}
                {% endblock %}
            </seciton>

        </main>


    </body>
</html>
